.sequencias {
  background: #0080c8;
  margin-bottom: 15px;
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.sequencias summary {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
.sequencias img {
  margin: 10px auto;
}
